/* Bricks */
.radius {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.bg1 {
	background-color: #E4AF48; /* #FF8300;*/
}

.bg2,.sidemenu a:hover,.sidemenu  a.selected {
	background-color: #3B5998;
}

.grey {
	color: #666;
}

.textwhite,.slidelogin>span,.sidemenu a:hover,.sidemenu  a.selected,#header a
	{
	color: white;
}

.strong,.table th,.sidemenu a,.form label,.userpage .udata, .pages span{
	font-weight: bold;
}

.textDecNone,.sidemenu a:hover,.sidemenu  a.selected,#header>h1>a {
	text-decoration: none;
}

.textcenter {
	text-align: center;
}

.verysmall,.info {
	font-size: 13px;
}

.small,.preference a.prefEp {
	font-size: 14px;
}

p,span,.normal,.slidelogin>span,.sidemenu a,.indeximgspan {
	font-size: 15px;
}

.littlebig,.slidelogin a,.userpage {
	font-size: 16px;
}

.big,.form label,.note p,.errors p,.pages a,.pages span {
	font-size: 17px;
}
/* End Bricks 
#header>h1 {
	font-size: 0;
}*/
#footer p{
	text-align: center;
	padding: 2%;
	color: #3B5998;
	font-weight: bold;
}
#header { /* gecko based browsers */
	background: -moz-linear-gradient(top, #55aaee, #3B5998);
	/* webkit based browsers #55aaee*/
	background: -webkit-gradient(linear, left top, left bottom, from(#55aaee),
		to(#3B5998) )
}

#header h1 { /*text-shadow:#fff 0px 1px 0, #000 0 -1px 0;*/
	text-shadow: 0px 5px 8px #333;
	text-transform: uppercase;
	font-size: 55px;
	margin: 0;
}

#header>h1>a {
	font-family: "Lucida Grande";
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}

#header>h1>a:hover {
	color: #A60000;
	text-decoration: none;
}
/*#header>h1>a {
	background-image: url("/progetto_finale/public/images/logo2.png");
	width: 100%;
	height: 50px;
	background-repeat: no-repeat;
}*/
.slidelogin .holding input,.slidelogin button,.form input {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Side Menu c73f3f*/
.sidemenu>div {
	background-color: #E4AF48;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.preference a.prefEp {
	background-color: transparent;
	border-left: 2px;
	border-color: #3B5998;
	border-style: solid;
	text-decoration: underline;
	-moz-border-radius: 0;
	border-radius: 0;
	border-style: solid;
}

.preference a.prefEp:hover {
	text-decoration: none;
}

.sidemenu a {
	text-decoration: underline;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: white;
}

.hasome span {
	font-size: 0;
}
/* End Side Menu */
.form input[type=text],.form textarea,.form input[type=password],.search .boxform,.table,.box,.info
	{
	border: 1px solid #AAA;
}

.form input[type=text]:focus,.form textarea:focus,.form input[type=password]:focus
	{
	border: 1px solid #285fdd;
}

.form h3 {
	text-align: center;
}

.form .submit {
	border: 0;
}

.table {
	text-align: center;
	background-color: #F9F9F9;
}

.table tr:nth-child(even) {
	background-color: #f2f5fa;
}

.info tr:nth-child(even) {
	background-color: #F6F6F6;
}

.info {
	text-align: left;
	line-height: 1.5em;
}

.indexserieshover {
	text-align: center;
	background-color: white;
	opacity: 0.9;
	filter: alpha(opacity =         90); /* For IE8 and earlier */
}

.userpage .udata {
	border-bottom: 1px;
	border-style: dashed;
	border-color: black;
}
/* Messages Flash*/
.note {
	border: 1px solid green;
	background-color: #99CC99;
}

.note p,.errors p {
	font-weight: bolder;
}

.errors {
	border: 1px solid red;
	background-color: #FFCCCC;
}
/* End Messages Flash*/
.speedSearch{
	position: absolute;
	top: 24px;
	width: 100%;
	background-color: white;
	border: 1px solid #285fdd;
	
}
.search .speedSearch{
	top: 54px;
}
.speedSearch span {
	display: block;
	cursor: pointer;
}
.selectedString, .speedSearch span:hover {
	background-color: #3B5998;
	color: white;
}
.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* just to show you the text is still there!
       background-color: white;
    opacity: 0.5;
    	-moz-border-radius: 10px;
	border-radius: 10px; */
    
}