/* Bricks */
.fixedbox {
	position: fixed;
}

.absolutebox {
	position: absolute;
}

.relativebox {
	position: relative;
}
.relative {position: relative;}

.topBox {
	top: 0;
}

.leftBox {
	left: 0;
}

.rightBox {
	right: 0;
}

.margin1 {
	margin: 1%;
}

.centerbox {
	margin: auto;
}

.sidemenu {
	width: 15%;
	margin-left: 2%;
	margin-right: 2%;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.displaynone {
	display: none;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.clearboth {
	clear: both;
}

.form {
	margin: auto;
	width: 350px;
}

.input {
	display: block;
	height: 20px;
}

.form input[type=text],.form textarea,.form input[type=password] {
	display: block;
	height: 20px;
	width: 100%;
}

.form textarea {
	height: 100px;
}

.form label {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.form button {
	margin: 10px 10px;
	padding: 5px 10px;
	display: block;
}
fieldset{
	margin: 0;
}
.form h3 {
	text-align: center;
	margin: 10px 0;
}

.vote {
	width: 400px;
	margin: 10px 10px;
}

.vote input[type=radio] {
	height: 25px;
	width: 25px;
	margin: 0;
	float: left;
}

.vote span {
	float: left;
	display: block;
	height: 25px;
	vertical-align: middle;
}
/* End Bricks */
/* Search Form */
.search {
	width: 100%;
}

.search  .searchGeneric {
	margin: auto;
	width: 50%;
}

.search  .searchGeneric label,.search  .searchGeneric input {
	width: 100%;
}

.search .boxform {
	width: 46%;
	float: left;
	margin: 1%;
	padding: 5px;
}

.box {
	margin: 1% 0;
	padding: 1%;
	min-height: 100px;
}

.boxform {
	padding: 5px 0;
}

.boxform input[type=text] {
	width: 100%;
}

.filter .boxcheckbox {
	height: 100px;
}

.optionbox .submit {
	float: none;
}
.infoSearch p {
	margin: 5px 0;
}
.search .submit {
	height: 30px;
	width: 100%;
	margin: 2% 0;
}

.search .submit button {
	width: 150px;
	margin: auto;
	height: 100%;
}

.search label {
	width: 100%;
}

.search .boxcheckbox {
	float: left;
}

.boxcheckbox {
	width: 100%;
	overflow-y: auto;
}

.boxcheckbox>div {
	width: 50%;
	float: left;
}

/* End Search Form */
/* Users links */
.userlink a {
	display: block;
	margin: 1%;
}

.userpage {
	width: 50%;
	margin: auto;
}
/* End Users links*/
/* BOX */
.box {
	margin: 1% 0;
	padding: 1%;
	min-height: 100px;
}
/* END BOX */
/* List Series */
#content>a {
	display: block;
	margin: 1% 0;
}

.pages {
	width: 50%;
	margin: auto;
	min-width: 600px;
}



.pages .pagelink {
	display: inline-block;
	width: 20px;
}

.pages .biglink {
	margin: 0 5px;
}

.pages .beginlink,.pages .lastlink,.pages .middlelink {
	width: 150px;
	display: inline-block;
	text-align: center;
}

.pages .middlelink {
	width: 250px;
}

.series {
	min-height: 200px;
}

.series .data {
	margin-left: 210px;
}
.userpage .heading{
	margin: 0;
}

.heading,.userpage .heading {
	display: block;
	width: 130px;
	float: left;
}

.epdata,.userpage .udata {
	display: block;
	margin: 5px 5px;

}
.userpage .udata{
	margin: 20px 0;
}
.series .data>a {
	display: block;
	margin: 1%;
}

.series .img {
	float: left;
	width: 210px;
	height: 200px;
}

.series .img img {
	max-width: 200px;
	max-height: 200px;
	margin: auto;
}

/* End List Series */
/* Table */
.table td,.table th {
	padding: 5px;
}

.dim60 {
	width: 70px;
}
/* End table */
/* Info */
.info {
	width: 22em;
	margin: 0.5em 0 0.5em 1em;
	float: right;
}

.info img {
	margin: auto;
	display: block;
	width: 200px;
	max-height: 300px;
}

.info a {
	display: block;
}

.info th,.info td {
	padding: 6px;
}
/* End Info */
/*Index page*/
#container {
	min-width: 990px;
}

#header {
	padding: 2%;
	margin-top: 3px;
}

#header>h1 {
	float: left;
}

#content {
	padding-top: 3%;
	margin: 0.8% 19%;
	
}

#header {
	margin-left: 2%;
	margin-right: 2%;
	min-height: 65px;
}
/* End Index page*/
/* Img index page */
.dimImg {
	width: 200px;
}

.indexdivImgs {
	min-width: 660px;
	max-width: 1000px;
}

.indexdivImg {
	margin: 10px;;
	float: left;
}

.indexImg {
	height: 200px;
}

.indeximgspan {
	height: 20px;
}

.indexserieshover {
	position: relative;
	top: -50px;
	height: 50px;
}
/* End Img index page */
/* Side Menu */
.sidemenu {
	min-width: 150px;
}

.sidemenu>div {
	padding: 5%;
	margin: 5% 0;
}

.sidemarginA a {
	margin: 4% 0;
}

.sidemenu a {
	padding: 1%;
	display: block;
	padding-left: 4%;
}

#preferences {
	max-height: 300px;
	overflow-y: auto;
}

.preference {
	margin: 4% 0;
}

.preference a.prefEp {
	margin-left: 6%;
}
/* Search */
.sidemenu .form {
	width: 95%;
}

.sidemenu .form input {
	width: 100%;
}
/* End Search*/
/* Login */
.slidelogin form {
	height: 50px;
}

.slidelogin div.holding {
	float: left;
	margin: 10px;
}

.slidelogin button {
	margin-top: 10px;
	width: 70px;
	height: 29px;
	background-color: white;
}

.slidelogin {
	float: right;
}

.slidelogin .holding span {
	cursor: text;
	top: -23px;
	left: 5px
}

.slidelogin .holding input {
	width: 105px;
	display: block;
	height: 20px;
}

.slidelogin .loginemail {
	margin-left: 7px;
}

/* End Login */
/*End Side Menu*/
/* Messages Flash*/
.note p,.errors p {
	margin: 0;
	margin: 10px 10%;
}
.message{
	margin-bottom: 10px;
}
/* End Messages Flash*/
