/*Layout*/
body {
	width: 98%;
	margin: auto;
}

#header {
	
}

/* regole per schermi pc*/
@media screen and (min-width: 500px) {
	#navigation,#slide {
		width: 15%;
		position: fixed;
	}
	#navigation {
		height: 400px;
		left: 1%;
	}
	#slide {
		position: fixed;
		right: 1%;
	}
	#content {
		margin-right: 15%;
		margin-left: 15%;
	}
}

#content .indexImg {
	margin: auto;
	width: 15em;
}

#content .home {
	margin: 0.5em;
}

}
.slideNav {
	padding: 2%;
}

#content {
	width: 68%;
	padding: 1%;
}

#content form {
	margin: auto;
}

#footer {
	clear: both;
}
/*End Layout*/
/*Login */
#slideLogin #login {
	padding: 2%;
}

#slideLogin #login label {
	margin: 2%;
	font-size: 80%;
}

#slideLogin #login input[type=submit] {
	margin: 2%;
	margin-top: 5%;
	width: 40%;
	height: 2em;
}

#slideLogin>span {
	margin: 3%;
	margin-top: 4%;
}

#slideLogin span:first-child,#slideLogin span:first-child+span {
	display: block;
}

#slideLogin span:first-child,#slideLogin span:first-child+span+span {
	font-size: 80%;
}

#slideLogin span:first-child+span,#slideLogin .loginemail {
	font-weight: bolder;
}

#slideLogin>a {
	float: right;
	display: block;
	margin-top: 2%;
	margin-right: 5%;
	margin-bottom: 5%;
}
/*End Login*/
/* Look*/
body {
	background-color: white;
}

#navigation,#slide {
	background-color: #FF8300;
	-moz-border-radius: 0.8em;
	border-radius: 0.8em;
}

#header {
	background-color: #06799F;
	margin-bottom: 1%;
	margin-top: 1%;
	padding-bottom: 0.1%;
	padding-top: 0.1%;
}

#content {
	background-color: white;
}
/*Index page*/
#content .icon {
	width: 10em;
	height: 10em;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#content .indexImg {
	margin: auto;
	width: 36em;
}

#content .indexImg h3,#content .indexImg span {
	display: none;
}

#content .indexImg span {
	position: relative;
	top: -3em;
	left: 1em;
	padding: 1em;
	background-color: white;
	opacity: 0.75;
}

#content .home {
	margin: 1em;
}

#content .indexImg .indexImgOne {
	float: left;
}
/* regole per schermi cellulari*/
@media screen and (max-width: 399px) {
	#content .icon {
		width: 5em;
		height: 5em;
	}
	#content .home {
		margin: 0.5em;
	}
	#content .indexImg {
		width: 18em;
	}
	#navigation .vnav * {
		display: none;
	}
	#navigation .vnav>h3 {
		display: inline;
	}
}
/* End Look*/
/* Preference*/
#preferences .preference {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 1%;
}

#preferences .preference form {
	float: right;
}
/* End Preference*/
/*Menu*/
#navigation a {
	display: block;
}

#navigation .vnav>h3 {
	margin-left: 5%;
}
/*End Menu*/
/*Header*/
#header>h1>a {
	text-decoration: none;
	color: white;
}

#header>h1 {
	margin-left: 3%;
	text-align: left;
	text-transform: uppercase;
	S
}
/*End Header*/
/* Messages Flash*/
#note {
	border: 1px solid green;
	background-color: #99CC99;
}

#note p,#errors p {
	margin-left: 10%;
	font-weight: bolder;
	font-size: 120%
}

#errors {
	border: 1px solid red;
	background-color: #FFCCCC;
}
/* End Messages Flash*/
/*Form */
label {
	float: left;
	width: 100%;
}

input[type=text],input[type=password],input[type=submit],lable,option,select
	{
	display: block;
}
/*End Form*/